@import '../../assets/scss/variables';

.header-main {
  top:0;
  position: fixed;
  backdrop-filter: blur(5px);
  background-color: rgba(15,15,15,0.3);
  width: 100%;
  display: flex;
  height: $header-height;
  z-index: 9999;
}

.logo { // temp
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: ($header-height - $logo-size) / 2;
  margin-left: ($header-height - $logo-size) / 2;
  width: $logo-size;
  height: $logo-size;
  border-radius: 50%;
  background-color: #fff;
}

.header-heading {
  margin: auto;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  font-family: 'Yeseva One', cursive;
}
